Repository axelkempf/Omega: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

.pre-commit-config.yaml:

repos:
  # ============================================================
  # Python Hooks (V1 + V2 Python Wrapper)
  # ============================================================
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args: ["--max-line-length=120", "--extend-ignore=E203,W503"]
        additional_dependencies: [flake8-bugbear]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-ll", "-ii", "--skip", "B101"]
        exclude: ^tests/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports", "--no-error-summary"]
        additional_dependencies:
          - types-PyYAML
          - types-requests
          - types-python-dateutil
          - pandas-stubs
        exclude: ^tests/

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        args: ["--convention=google", "--add-ignore=D100,D104,D105,D107"]
        exclude: ^tests/

  # ============================================================
  # Rust Hooks (V2 Backtest-Core)
  # ============================================================
  # Diese Hooks werden nur ausgef체hrt wenn rust_core/ existiert
  # und Rust-Dateien ge채ndert wurden.
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Rust Format (cargo fmt)
        description: Format Rust code with cargo fmt
        entry: bash -c 'cd rust_core && cargo fmt --all -- --check || exit 0'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: Rust Lint (cargo clippy)
        description: Lint Rust code with clippy
        entry: bash -c 'cd rust_core && cargo clippy --all-targets -- -D warnings || exit 0'
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: Rust Tests (cargo test)
        description: Run Rust unit tests
        entry: bash -c 'cd rust_core && cargo test --all || exit 0'
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

  # ============================================================
  # V2 Golden-File Smoke Test
  # ============================================================
  # Nur ausf체hren wenn python/bt/ existiert und relevante Dateien
  # ge채ndert wurden (execution, strategy, metrics, backtest crates)
  - repo: local
    hooks:
      - id: golden-smoke
        name: V2 Golden-Smoke Test
        description: Quick golden file regression check for V2 Backtest-Core
        entry: bash -c 'pytest python/bt/tests/test_golden.py -k smoke -q || exit 0'
        language: system
        files: "^(rust_core/crates/|python/bt/)"
        pass_filenames: false
        stages: [pre-push]

Add comprehensive testing and trading safety standards; implement redundancy check script
  .github/copilot-instructions.md
  .github/instructions/_core/error-handling.instructions.md
  .github/instructions/_core/python-standards.instructions.md
  .github/instructions/_core/rust-standards.instructions.md
  .github/instructions/_core/security-standards.instructions.md
  .github/instructions/_core/testing-standards.instructions.md
  .github/instructions/_domain/trading-safety.instructions.md
  .github/instructions/codexer.instructions.md
  .github/instructions/rust.instructions.md
  docs/agent_network_upgrade_plan/02_instruction_deduplication.md
  scripts/check_instruction_redundancy.py
Due: none

Erweitere das System um ein Agent Orchestrator
  docs/agent_network_upgrade_plan/03_orchestrator.md
  docs/agent_network_upgrade_plan/README.md
  src/agent_orchestrator/__init__.py
  src/agent_orchestrator/agents/__init__.py
  src/agent_orchestrator/agents/base.py
  src/agent_orchestrator/cli.py
  src/agent_orchestrator/context.py
  src/agent_orchestrator/orchestrator.py
  src/agent_orchestrator/router.py
  src/agent_orchestrator/v2_detector.py
  src/agent_orchestrator/workflow.py
  src/agent_orchestrator/workflows/backtest_v2_implementation.yaml
  src/agent_orchestrator/workflows/bug_fix.yaml
  src/agent_orchestrator/workflows/code_review.yaml
  src/agent_orchestrator/workflows/feature_implementation.yaml
  src/agent_orchestrator/workflows/v2_parity_check.yaml
  tests/agent_orchestrator/__init__.py
  tests/agent_orchestrator/test_base_agent.py
  tests/agent_orchestrator/test_cli.py
  tests/agent_orchestrator/test_context.py
  tests/agent_orchestrator/test_router.py
  tests/agent_orchestrator/test_v2_detector.py
  tests/agent_orchestrator/test_workflow.py
Due: none

Füge Rag Layer hinzu
  docs/agent_network_upgrade_plan/05_rag_layer.md
  docs/agent_network_upgrade_plan/README.md
  pyproject.toml
  src/agent_memory/__init__.py
  src/agent_memory/cli.py
  src/agent_memory/embedder.py
  src/agent_memory/indexer.py
  src/agent_memory/models.py
  src/agent_memory/rag.py
  tests/agent_memory/__init__.py
  tests/agent_memory/test_embedder.py
  tests/agent_memory/test_indexer.py
  tests/agent_memory/test_models.py
  tests/agent_memory/test_rag.py
Due: none

Füge CI-Workflow für Omega V2 hinzu; konvertiere CSV-Dateien in Parquet-Format und aktualisiere Flake8-Konfiguration
  .flake8
  .github/workflows/omega-v2-ci.yml
  .pre-commit-config.yaml
  docs/OMEGA_V2_ARCHITECTURE_PLAN.md
  docs/OMEGA_V2_EXECUTION_MODEL_PLAN.md
  docs/OMEGA_V2_MODULE_STRUCTURE_PLAN.md
  scripts/convert_candles_csv_to_parquet.py
  scripts/convert_news_csv_to_parquet.py
  src/old/backtest_engine/data/trading_holidays.py
Due: none

Erstellung Implemtationsplan V2 System
  docs/OMEGA_V2_IMPLEMENTATION_WAVES.md
Due: none

Implementiere W0 für V2 System Refaktor
  rust_core/.cargo/config.toml
  rust_core/Cargo.lock
  rust_core/Cargo.toml
  rust_core/crates/types/Cargo.toml
  rust_core/crates/types/src/candle.rs
  rust_core/crates/types/src/config.rs
  rust_core/crates/types/src/error.rs
  rust_core/crates/types/src/lib.rs
  rust_core/crates/types/src/position.rs
  rust_core/crates/types/src/result.rs
  rust_core/crates/types/src/signal.rs
  rust_core/crates/types/src/timeframe.rs
  rust_core/crates/types/src/trade.rs
  rust_core/rust-toolchain.toml
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Implementierung W1 für V2 System Refaktor
  rust_core/Cargo.lock
  rust_core/crates/data/Cargo.toml
  rust_core/crates/data/src/alignment.rs
  rust_core/crates/data/src/error.rs
  rust_core/crates/data/src/lib.rs
  rust_core/crates/data/src/loader.rs
  rust_core/crates/data/src/market_hours.rs
  rust_core/crates/data/src/news.rs
  rust_core/crates/data/src/store.rs
  rust_core/crates/data/src/validation.rs
  rust_core/crates/data/tests/common.rs
  rust_core/crates/data/tests/data_tests.rs
  rust_core/crates/data/tests/generators.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Implementierung W2 für V2 System Refaktor
  rust_core/Cargo.lock
  rust_core/Cargo.toml
  rust_core/crates/indicators/Cargo.toml
  rust_core/crates/indicators/src/cache.rs
  rust_core/crates/indicators/src/error.rs
  rust_core/crates/indicators/src/impl_/atr.rs
  rust_core/crates/indicators/src/impl_/bollinger.rs
  rust_core/crates/indicators/src/impl_/ema.rs
  rust_core/crates/indicators/src/impl_/garch_volatility.rs
  rust_core/crates/indicators/src/impl_/kalman_garch_zscore.rs
  rust_core/crates/indicators/src/impl_/kalman_mean.rs
  rust_core/crates/indicators/src/impl_/kalman_zscore.rs
  rust_core/crates/indicators/src/impl_/mod.rs
  rust_core/crates/indicators/src/impl_/sma.rs
  rust_core/crates/indicators/src/impl_/vol_cluster.rs
  rust_core/crates/indicators/src/impl_/z_score.rs
  rust_core/crates/indicators/src/lib.rs
  rust_core/crates/indicators/src/registry.rs
  rust_core/crates/indicators/src/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Implementierung W3 für V2 System Refaktor
  rust_core/Cargo.lock
  rust_core/Cargo.toml
  rust_core/crates/data/src/lib.rs
  rust_core/crates/execution/Cargo.toml
  rust_core/crates/execution/src/costs.rs
  rust_core/crates/execution/src/engine.rs
  rust_core/crates/execution/src/error.rs
  rust_core/crates/execution/src/fees.rs
  rust_core/crates/execution/src/fill.rs
  rust_core/crates/execution/src/lib.rs
  rust_core/crates/execution/src/pending_book.rs
  rust_core/crates/execution/src/slippage.rs
  rust_core/crates/execution/src/state.rs
  rust_core/crates/indicators/src/impl_/ema.rs
  rust_core/crates/indicators/src/impl_/garch_volatility.rs
  rust_core/crates/indicators/src/impl_/kalman_garch_zscore.rs
  rust_core/crates/indicators/src/impl_/kalman_zscore.rs
  rust_core/crates/indicators/src/impl_/sma.rs
  rust_core/crates/indicators/src/impl_/z_score.rs
  rust_core/crates/indicators/src/lib.rs
  rust_core/crates/portfolio/Cargo.toml
  rust_core/crates/portfolio/src/equity.rs
  rust_core/crates/portfolio/src/error.rs
  rust_core/crates/portfolio/src/lib.rs
  rust_core/crates/portfolio/src/portfolio.rs
  rust_core/crates/portfolio/src/position_manager.rs
  rust_core/crates/portfolio/src/stops.rs
  rust_core/crates/types/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserung von Fehlern aus W0
  rust_core/crates/types/src/candle.rs
  rust_core/crates/types/src/config.rs
  rust_core/crates/types/src/lib.rs
  rust_core/crates/types/src/price_type.rs
  rust_core/crates/types/src/result.rs
  rust_core/crates/types/src/timeframe.rs
  rust_core/crates/types/src/trade.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Fix clippy und cargo Warnungen sowie Fehler
  rust_core/crates/indicators/src/cache_multi_tf.rs
  rust_core/crates/indicators/src/impl_/kalman_zscore.rs
  rust_core/crates/indicators/src/lib.rs
  rust_core/crates/indicators/src/traits.rs
  rust_core/crates/strategy/src/context.rs
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
  rust_core/crates/strategy/src/runner.rs
  rust_core/crates/strategy/tests/mrz_parity.rs
  rust_core/crates/types/src/candle.rs
  rust_core/crates/types/src/config.rs
  rust_core/crates/types/src/position.rs
  rust_core/crates/types/src/result.rs
  rust_core/crates/types/src/timeframe.rs
  rust_core/crates/types/src/trade.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserung von Fehlern aus W1
  rust_core/Cargo.lock
  rust_core/crates/data/Cargo.toml
  rust_core/crates/data/src/alignment.rs
  rust_core/crates/data/src/error.rs
  rust_core/crates/data/src/gaps.rs
  rust_core/crates/data/src/lib.rs
  rust_core/crates/data/src/loader.rs
  rust_core/crates/data/src/market_hours.rs
  rust_core/crates/data/src/news.rs
  rust_core/crates/data/src/store.rs
  rust_core/crates/data/src/validation.rs
  rust_core/crates/data/tests/common.rs
  rust_core/crates/data/tests/data_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserung von Fehlern aus W2
  docs/OMEGA_V2_ARCHITECTURE_PLAN.md
  docs/OMEGA_V2_CONFIG_SCHEMA_PLAN.md
  docs/OMEGA_V2_DATA_FLOW_PLAN.md
  docs/OMEGA_V2_DATA_GOVERNANCE_PLAN.md
  docs/OMEGA_V2_EXECUTION_MODEL_PLAN.md
  docs/OMEGA_V2_IMPLEMENTATION_WAVES.md
  docs/OMEGA_V2_INDICATOR_CACHE__PLAN.md
  docs/OMEGA_V2_METRICS_DEFINITION_PLAN.md
  docs/OMEGA_V2_MODULE_STRUCTURE_PLAN.md
  docs/OMEGA_V2_PLANS.md
  docs/OMEGA_V2_STRATEGIES_PLAN.md
  docs/OMEGA_V2_TESTING_VALIDATION_PLAN.md
  docs/OMEGA_V2_TRADE_MANAGER_PLAN.md
  docs/OMEGA_V2_VISION_PLAN.md
  rust_core/crates/indicators/src/cache.rs
  rust_core/crates/indicators/src/cache_multi_tf.rs
  rust_core/crates/indicators/src/error.rs
  rust_core/crates/indicators/src/impl_/atr.rs
  rust_core/crates/indicators/src/impl_/bollinger.rs
  rust_core/crates/indicators/src/impl_/ema.rs
  rust_core/crates/indicators/src/impl_/garch_volatility.rs
  rust_core/crates/indicators/src/impl_/garch_volatility_local.rs
  rust_core/crates/indicators/src/impl_/kalman_garch_zscore.rs
  rust_core/crates/indicators/src/impl_/kalman_garch_zscore_local.rs
  rust_core/crates/indicators/src/impl_/kalman_mean.rs
  rust_core/crates/indicators/src/impl_/kalman_zscore.rs
  rust_core/crates/indicators/src/impl_/sma.rs
  rust_core/crates/indicators/src/impl_/vol_cluster.rs
  rust_core/crates/indicators/src/impl_/vol_cluster_series.rs
  rust_core/crates/indicators/src/impl_/z_score.rs
  rust_core/crates/indicators/src/lib.rs
  rust_core/crates/indicators/src/registry.rs
  rust_core/crates/indicators/src/timeframe_mapping.rs
  rust_core/crates/indicators/src/traits.rs
  rust_core/crates/indicators/tests/python_parity.py
  rust_core/crates/indicators/tests/python_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserung von Fehlern aus W3
  configs/execution_costs.yaml
  docs/OMEGA_V2_EXECUTION_MODEL_PLAN.md
  docs/OMEGA_V2_IMPLEMENTATION_WAVES.md
  rust_core/crates/data/src/alignment.rs
  rust_core/crates/data/src/gaps.rs
  rust_core/crates/data/src/lib.rs
  rust_core/crates/data/src/market_hours.rs
  rust_core/crates/data/tests/data_tests.rs
  rust_core/crates/execution/src/costs.rs
  rust_core/crates/execution/src/engine.rs
  rust_core/crates/execution/src/error.rs
  rust_core/crates/execution/src/fees.rs
  rust_core/crates/execution/src/fill.rs
  rust_core/crates/execution/src/lib.rs
  rust_core/crates/execution/src/pending_book.rs
  rust_core/crates/execution/src/slippage.rs
  rust_core/crates/execution/src/state.rs
  rust_core/crates/execution/src/symbol_specs.rs
  rust_core/crates/indicators/src/cache.rs
  rust_core/crates/indicators/src/cache_multi_tf.rs
  rust_core/crates/indicators/src/impl_/kalman_zscore.rs
  rust_core/crates/portfolio/src/equity.rs
  rust_core/crates/portfolio/src/error.rs
  rust_core/crates/portfolio/src/lib.rs
  rust_core/crates/portfolio/src/portfolio.rs
  rust_core/crates/portfolio/src/position_manager.rs
  rust_core/crates/portfolio/src/stops.rs
  rust_core/crates/strategy/src/context.rs
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
  rust_core/crates/strategy/src/registry.rs
  rust_core/crates/strategy/src/runner.rs
  rust_core/crates/strategy/src/traits.rs
  rust_core/crates/strategy/tests/mrz_parity.rs
  rust_core/crates/trade_mgmt/src/actions.rs
  rust_core/crates/trade_mgmt/src/context.rs
  rust_core/crates/trade_mgmt/src/engine.rs
  rust_core/crates/types/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserung von Fehlern aus W4 erstes Batch
  agent_tasks/W4_fix_prompt.md
  rust_core/crates/strategy/src/context.rs
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
  rust_core/crates/strategy/src/lib.rs
  rust_core/crates/trade_mgmt/src/actions.rs
  rust_core/crates/trade_mgmt/src/context.rs
  rust_core/crates/trade_mgmt/src/engine.rs
  rust_core/crates/trade_mgmt/src/lib.rs
  rust_core/crates/trade_mgmt/src/rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Clippy Warnings eliminiert
  rust_core/crates/execution/src/costs.rs
  rust_core/crates/indicators/src/impl_/atr.rs
  rust_core/crates/indicators/src/impl_/bollinger.rs
  rust_core/crates/indicators/src/impl_/ema.rs
  rust_core/crates/indicators/src/impl_/garch_volatility.rs
  rust_core/crates/indicators/src/impl_/garch_volatility_local.rs
  rust_core/crates/indicators/src/impl_/kalman_garch_zscore.rs
  rust_core/crates/indicators/src/impl_/kalman_garch_zscore_local.rs
  rust_core/crates/indicators/src/impl_/kalman_mean.rs
  rust_core/crates/indicators/src/impl_/kalman_zscore.rs
  rust_core/crates/indicators/src/impl_/vol_cluster.rs
  rust_core/crates/indicators/src/traits.rs
  rust_core/crates/portfolio/src/portfolio.rs
  rust_core/crates/strategy/src/context.rs
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
  rust_core/crates/strategy/src/lib.rs
  rust_core/crates/strategy/src/registry.rs
  rust_core/crates/strategy/src/runner.rs
  rust_core/crates/strategy/src/traits.rs
  rust_core/crates/trade_mgmt/src/actions.rs
  rust_core/crates/trade_mgmt/src/context.rs
  rust_core/crates/trade_mgmt/src/engine.rs
  rust_core/crates/trade_mgmt/src/lib.rs
  rust_core/crates/trade_mgmt/src/rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Integration von Close time in ns
  rust_core/crates/data/src/loader.rs
  rust_core/crates/data/src/market_hours.rs
  rust_core/crates/data/src/validation.rs
  rust_core/crates/data/tests/common.rs
  rust_core/crates/data/tests/data_tests.rs
  rust_core/crates/data/tests/generators.rs
  rust_core/crates/execution/src/engine.rs
  rust_core/crates/execution/src/fill.rs
  rust_core/crates/execution/src/pending_book.rs
  rust_core/crates/indicators/src/cache.rs
  rust_core/crates/indicators/src/cache_multi_tf.rs
  rust_core/crates/indicators/src/impl_/atr.rs
  rust_core/crates/indicators/src/impl_/bollinger.rs
  rust_core/crates/indicators/src/impl_/ema.rs
  rust_core/crates/indicators/src/impl_/garch_volatility.rs
  rust_core/crates/indicators/src/impl_/kalman_garch_zscore.rs
  rust_core/crates/indicators/src/impl_/kalman_mean.rs
  rust_core/crates/indicators/src/impl_/kalman_zscore.rs
  rust_core/crates/indicators/src/impl_/sma.rs
  rust_core/crates/indicators/src/impl_/vol_cluster.rs
  rust_core/crates/indicators/src/impl_/z_score.rs
  rust_core/crates/indicators/src/registry.rs
  rust_core/crates/indicators/tests/python_parity.rs
  rust_core/crates/portfolio/src/lib.rs
  rust_core/crates/portfolio/src/stops.rs
  rust_core/crates/strategy/src/context.rs
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
  rust_core/crates/strategy/src/runner.rs
  rust_core/crates/strategy/tests/mrz_parity.rs
  rust_core/crates/types/src/candle.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserungen von Fehlern aus W4 abgeschlossen
  agent_tasks/W4_fix_prompt.md
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbessere W6 Implementierungsplan
  docs/OMEGA_V2_IMPLEMENTATION_WAVES.md
Due: none

Implementierung W5 für V2 System Refaktor
  rust_core/Cargo.lock
  rust_core/crates/backtest/Cargo.toml
  rust_core/crates/backtest/src/context.rs
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/backtest/src/error.rs
  rust_core/crates/backtest/src/event_loop.rs
  rust_core/crates/backtest/src/lib.rs
  rust_core/crates/backtest/src/result_builder.rs
  rust_core/crates/backtest/src/runner.rs
  rust_core/crates/backtest/src/warmup.rs
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserung von Fehlern aus W5
  docs/OMEGA_V2_DATA_FLOW_PLAN.md
  docs/OMEGA_V2_EXECUTION_MODEL_PLAN.md
  rust_core/Cargo.lock
  rust_core/crates/backtest/Cargo.toml
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/backtest/src/runner.rs
  rust_core/crates/backtest/src/warmup.rs
  rust_core/crates/backtest/tests/integration_test.rs
  rust_core/crates/portfolio/src/error.rs
  rust_core/crates/portfolio/src/portfolio.rs
  rust_core/crates/portfolio/src/position_manager.rs
  rust_core/crates/portfolio/src/stops.rs
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
  rust_core/crates/types/src/position.rs
  rust_core/crates/types/src/signal.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Clippy Warnungen gefixt
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/backtest/tests/integration_test.rs
  rust_core/crates/portfolio/src/error.rs
  rust_core/crates/portfolio/src/portfolio.rs
  rust_core/crates/portfolio/src/stops.rs
  rust_core/crates/types/src/signal.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Implementierung W6 für V2 System Refaktor
  pyproject.toml
  rust_core/Cargo.lock
  rust_core/Cargo.toml
  rust_core/crates/backtest/Cargo.toml
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/backtest/src/error.rs
  rust_core/crates/backtest/src/result_builder.rs
  rust_core/crates/ffi/Cargo.toml
  rust_core/crates/ffi/src/lib.rs
  rust_core/crates/metrics/Cargo.toml
  rust_core/crates/metrics/src/compute.rs
  rust_core/crates/metrics/src/definitions.rs
  rust_core/crates/metrics/src/equity_metrics.rs
  rust_core/crates/metrics/src/lib.rs
  rust_core/crates/metrics/src/output.rs
  rust_core/crates/metrics/src/trade_metrics.rs
  rust_core/crates/types/src/lib.rs
  rust_core/crates/types/src/result.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserung von Fehlern aus W6
  .github/workflows/omega-v2-ci.yml
  docs/OMEGA_V2_CI_WORKFLOW_PLAN.md
  docs/OMEGA_V2_METRICS_DEFINITION_PLAN.md
  docs/OMEGA_V2_W6_FIX_PROMPT.md
  pyproject.toml
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/backtest/src/error.rs
  rust_core/crates/backtest/src/runner.rs
  rust_core/crates/backtest/tests/integration_test.rs
  rust_core/crates/data/src/loader.rs
  rust_core/crates/execution/src/costs.rs
  rust_core/crates/execution/src/engine.rs
  rust_core/crates/execution/src/lib.rs
  rust_core/crates/ffi/Cargo.toml
  rust_core/crates/ffi/src/lib.rs
  rust_core/crates/indicators/src/impl_/ema.rs
  rust_core/crates/indicators/src/impl_/garch_volatility.rs
  rust_core/crates/indicators/src/impl_/kalman_mean.rs
  rust_core/crates/indicators/src/traits.rs
  rust_core/crates/metrics/src/compute.rs
  rust_core/crates/metrics/src/definitions.rs
  rust_core/crates/metrics/src/equity_metrics.rs
  rust_core/crates/metrics/src/lib.rs
  rust_core/crates/metrics/src/output.rs
  rust_core/crates/metrics/src/trade_metrics.rs
  rust_core/crates/portfolio/src/portfolio.rs
  rust_core/crates/portfolio/src/stops.rs
  rust_core/crates/strategy/src/context.rs
  rust_core/crates/strategy/src/impl_/mean_reversion_z_score.rs
  rust_core/crates/trade_mgmt/src/engine.rs
  rust_core/crates/trade_mgmt/src/lib.rs
  rust_core/crates/trade_mgmt/src/rules.rs
  rust_core/crates/types/src/lib.rs
  rust_core/crates/types/src/result.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Formatting cargo
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/data/src/bin/generate_omega_v2_fixtures.rs
  rust_core/crates/ffi/src/lib.rs
  rust_core/crates/metrics/src/compute.rs
  rust_core/crates/metrics/src/output.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verbesserung V2 Implemntierung
  docs/OMEGA_V2_IMPLEMENTATION_WAVES.md
  pyproject.toml
  python/bt/config.py
  python/bt/py.typed
  python/bt/reporting.py
  python/bt/schema/__init__.py
  python/bt/schema/v2_config.json
  python/omega_bt/__init__.py
  python/omega_bt/__init__.pyi
  python/omega_bt/_native.pyi
  python/omega_bt/py.typed
  python/tests/test_parity.py
  rust_core/crates/backtest/tests/fixtures/README.md
  rust_core/crates/backtest/tests/fixtures/configs/minimal.json
  rust_core/crates/backtest/tests/fixtures/configs/with_costs.json
  rust_core/crates/backtest/tests/fixtures/configs/with_sessions.json
  rust_core/crates/ffi/src/entry.rs
  rust_core/crates/ffi/src/error.rs
  rust_core/crates/ffi/src/lib.rs
  rust_core/crates/ffi/src/result.rs
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Implementierung der CLI für Omega V2 Backtests und Hinzufügen der Konfigurationsdatei
  configs/backtest/mean_reversion_z_score_v2.json
  pyproject.toml
  python/bt/__main__.py
  python/bt/cli.py
Due: golden-smoke

Virtuelle Umgebung für Agenten verlinkt
  .github/copilot-instructions.md
  .github/instructions/shell.instructions.md
  AGENTS.md
  CLAUDE.md
Due: none

VErbesserungunge und Bugfixes
  configs/backtest/mean_reversion_z_score_v2.json
  python/bt/cli.py
  python/tests/fixtures/data/csv/EURUSD/EURUSD_M1_ASK.csv
  python/tests/fixtures/data/csv/EURUSD/EURUSD_M1_BID.csv
  python/tests/fixtures/data/csv/EURUSD/EURUSD_M5_ASK.csv
  python/tests/fixtures/data/csv/EURUSD/EURUSD_M5_BID.csv
  python/tests/fixtures/golden/scenario_1/equity.csv
  python/tests/fixtures/golden/scenario_1/meta.json
  python/tests/fixtures/golden/scenario_1/metrics.json
  python/tests/fixtures/golden/scenario_1/trades.json
  python/tests/fixtures/golden/scenario_2/equity.csv
  python/tests/fixtures/golden/scenario_2/meta.json
  python/tests/fixtures/golden/scenario_2/metrics.json
  python/tests/fixtures/golden/scenario_2/trades.json
  python/tests/fixtures/golden/scenario_3/equity.csv
  python/tests/fixtures/golden/scenario_3/meta.json
  python/tests/fixtures/golden/scenario_3/metrics.json
  python/tests/fixtures/golden/scenario_3/trades.json
  python/tests/fixtures/golden/scenario_4/equity.csv
  python/tests/fixtures/golden/scenario_4/meta.json
  python/tests/fixtures/golden/scenario_5/meta.json
  python/tests/fixtures/golden/scenario_6/meta.json
  rust_core/crates/backtest/src/engine.rs
  scripts/generate_test_fixtures.py
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Warmup Fix -> Every TF loads seperate Warmup
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/backtest/src/warmup.rs
  scripts/test_warmup_separation.py
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Verlegung der V2 Planung in eignen docs Ordner
  docs/OMEGA_V2/OMEGA_V2_AGENT_INSTRUCTION_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_ARCHITECTURE_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_CI_WORKFLOW_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_CONFIG_SCHEMA_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_DATA_FLOW_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_DATA_GOVERNANCE_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_EXECUTION_MODEL_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_FORMATTING_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_IMPLEMENTATION_WAVES.md
  docs/OMEGA_V2/OMEGA_V2_INDICATOR_CACHE__PLAN.md
  docs/OMEGA_V2/OMEGA_V2_METRICS_DEFINITION_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_MODULE_STRUCTURE_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_OBSERVABILITY_PROFILING_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_OUTPUT_CONTRACT_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_PLANS.md
  docs/OMEGA_V2/OMEGA_V2_STRATEGIES_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_TECH_STACK_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_TESTING_VALIDATION_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_TRADE_MANAGER_PLAN.md
  docs/OMEGA_V2/OMEGA_V2_VISION_PLAN.md
  docs/OMEGA_V2_W4_FIX_ROADMAP.md
  docs/OMEGA_V2_W6_FIX_PROMPT.md
Due: none

Portfolio Result Fix
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/portfolio/src/lib.rs
  rust_core/crates/portfolio/src/portfolio.rs
  scripts/test_pnl_fix.py
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

Workflow Error Fix
  .github/workflows/omega-v2-ci.yml
Due: none

Aktualisierung der CI-Umgebung und Anpassung der Backtest-Konfiguration: Setze PYO3_PYTHON und PYTHONPATH für Rust-Checks, Python-Tests und Golden Smoke
  .github/workflows/omega-v2-ci.yml
Due: none

Ändere den Build-Prozess für omega_bt: Verwende 'maturin build' und installiere das Paket direkt
  .github/workflows/omega-v2-ci.yml
Due: none

Python 3.13 refertenzen und tests entfernen
  .github/workflows/omega-v2-ci.yml
  docs/OMEGA_V2/OMEGA_V2_CI_WORKFLOW_PLAN.md
Due: none
