Repository axelkempf/Omega: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-changed, breaking-change-check, trading-safety-check, agent-output-validation, architecture-check, cargo-fmt, cargo-clippy, cargo-test, golden-smoke

pytest-changed:
  name: Run pytest for changed files
  description: Runs pytest only for files related to changed source files
  entry: python scripts/hooks/pytest_changed.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit
  additional_dependencies:
  - pytest

breaking-change-check:
  name: Breaking Change Detection
  description: Detects breaking API changes and requires explicit acknowledgment
  entry: python scripts/hooks/breaking_change_check.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

trading-safety-check:
  name: Trading Safety Check
  description: Checks trading-related code for safety invariants
  entry: python scripts/hooks/trading_safety_check.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

agent-output-validation:
  name: Agent Output Quality (non-blocking)
  description: Validates agent-generated code quality (suggestions only)
  entry: python scripts/hooks/agent_output_validation.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit
  verbose: true

architecture-check:
  name: Architecture Consistency (non-blocking)
  description: Reminds to update architecture.md when src/ structure changes
  entry: python scripts/hooks/architecture_check.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

cargo-fmt:
  name: Rust Format (cargo fmt)
  description: Format Rust code with cargo fmt
  ...

cargo-clippy:
  name: Rust Lint (cargo clippy)
  description: Lint Rust code with clippy
  ...

cargo-test:
  name: Rust Tests (cargo test)
  description: Run Rust unit tests
  ...

golden-smoke:
  name: V2 Golden-Smoke Test
  description: Quick golden file regression check for V2 Backtest-Core
  ...

Config auf 1 Trade maximum gestellt und News Timing 60 Minuten bevor gestellt
  configs/backtest/mean_reversion_z_score_v2.json
Due: none

Profiling hinzugefügt bei Backtest
  configs/backtest/mean_reversion_z_score_v2.json
  python/bt/cli.py
  python/bt/config.py
  python/bt/output.py
  python/bt/schema/v2_config.json
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/backtest/src/result_builder.rs
  rust_core/crates/ffi/src/result.rs
  rust_core/crates/types/src/config.rs
  rust_core/crates/types/src/lib.rs
  rust_core/crates/types/src/result.rs
Due: pytest-changed, breaking-change-check, trading-safety-check, agent-output-validation, architecture-check, cargo-fmt, cargo-clippy, cargo-test, golden-smoke

fix(ci): add Python to rust-checks for parity tests + fix CodeQL build-mode
  .github/workflows/omega-v2-ci.yml
Due: none

Fix some Workflows
  rust_core/Cargo.lock
  rust_core/crates/backtest/Cargo.toml
  rust_core/crates/backtest/src/engine.rs
  rust_core/crates/data/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test, golden-smoke

CI Workflow Fix
  .github/workflows/omega-v2-ci.yml
Due: none

fix(ci): gitignore machine-specific .cargo/config.toml
  .gitignore
  rust_core/.cargo/config.toml
  rust_core/.cargo/config.toml.example
Due: none

fix(ci): install full Python deps for rust parity tests
  .github/workflows/omega-v2-ci.yml
Due: none

Path conditions:
  pytest-changed: any of: \.py$
  breaking-change-check: any of: \.py$
  trading-safety-check: any of: \.py$
  agent-output-validation: any of: \.py$
  architecture-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  golden-smoke: any of: ^(rust_core/crates/|python/bt/|python/tests/)
